@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');/*1*/
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap'); /*font-family: 'RocknRoll One', sans-serif;2*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); /*font-family: 'Indie Flower', cursive;3*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');/*font-family: 'Pacifico', cursive;4*/
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');/*font-family: 'Satisfy', cursive;5*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');/*font-family: 'Great Vibes', cursive;6*/
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');/*font-family: 'Pirata One', cursive;7*/
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap'); /*font-family: 'Akaya Kanadaka', cursive;8*/
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');/*font-family: 'Aclonica', sans-serif;9*/
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');/*font-family: 'Fredericka the Great', cursive;10*/
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');/*font-family: 'Rye', cursive;11*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');/*font-family: 'Nunito', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');/*font-family: 'Alegreya', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Merienda&display=swap');/*font-family: 'Merienda', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');/*font-family: 'Annie Use Your Telescope', cursive;*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
body p{
    opacity: 1;
    font-weight: normal;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    scroll-behavior: smooth;
}

html,
.root {
    font-family: 'Akaya Kanadaka', cursive;
}

.image-for-modal {
    cursor: pointer;
}