
.h1{
    text-align: center;
    padding:  30px;
    font-size:40px;
    color: rgba(93,154,6,1);
}
.p{
    width: 50%;
    margin: auto;
    line-height: 1.5  ;
    font-size: 20px;
    text-align: justify;
}
.back-button-div{
    padding: 50px;
    text-align: center;
}
.back-button{
    text-decoration: none;
     color: rgba(93,154,6,1);
    font-size: 25px;

}
@media screen and (max-width: 1500px) {
    .p{
        width: 60%;
        margin: auto;
        line-height: 1.5  ;
        font-size: 18px;
        text-align: justify;
    }
}
@media screen and (max-width: 900px) {
    .p{
        width: 80%;

    }
}
@media screen and (max-width: 600px) {
    .p{
        font-size: 18px;


    }
}